[RequiredSettings]
  EventName = "Example"
  EventType = "rvb"
  DBConnectURL = "postgres://engineuser:postgres_password@quotient_database:5432/engine"
  BindAddress = "0.0.0.0"

[MiscSettings]
  EasyPCR = true
  ShowDebugToBlueTeam = false
  LogoImage = "/static/assets/quotient.svg"
  StartPaused = true
  Delay = 30
  Jitter = 5
  Points = 1
  Timeout = 15
  SlaThreshold = 5
  SlaPenalty = 5

[CredlistSettings]
  [[CredlistSettings.Credlist]]
    CredlistName = "Users"
    CredlistPath = "users.credlist"
    CredlistExplainText = "username,password"

[[Admin]]
  Name = "admin"
  Pw = "admin"

[[Team]]
  Name = "team01"
  Pw = "password"

# IP/Target works with Docker container names / internal DNS
[[Box]]
  Name = "linux"
  IP = "practice"

  [[Box.web]]
    Display = "web-server"
    target = "practice"
    port = 8080

    [[Box.web.url]]
      path = "/index.html"