[RequiredSettings]
  EventName = "Example"
  EventType = "rvb"
  DBConnectURL = "postgres://engineuser:postgres_password@quotient_database:5432/engine"
  BindAddress = "0.0.0.0"

[MiscSettings]
  EasyPCR = true
  ShowDebugToBlueTeam = false
  LogoImage = "/static/assets/quotient.svg"
  StartPaused = true
  Delay = 30
  Jitter = 5
  Points = 1
  Timeout = 15
  SlaThreshold = 5
  SlaPenalty = 5

[CredlistSettings]
  [[CredlistSettings.Credlist]]
    CredlistName = "Users"
    CredlistPath = "users.credlist"
    CredlistExplainText = "username,password"

[[Admin]]
  Name = "admin"
  Pw = "admin"

[[Team]]
  Name = "team01"
  Pw = "password"

[[Box]]
  Name = "linux"
  IP = "practice"

  [[Box.web]]
    Display = "web-server"
    target = "practice"
    port = 80

    [[Box.web.url]]
      path = "/index.html"

  [[Box.ssh]]
    Display = "ssh-users"
    target = "practice"
    CredLists = ["Users"]

  [[Box.ftp]]
    Display = "ftp-server"
    target = "practice"

    [[Box.ftp.File]]
    Name = "example.txt"
    Hash = "66a90067add55b7dce05dae0df73470cbe1f7e4b5c676be59b3abff31d8a7b7e"